{
  "presets": ["react", "env", "stage-0"],
  // "plugins": [
  //   "syntax-dynamic-import",
  //   "react-loadable/babel",
  //   ["import-inspector", {
  //     "serverSideRequirePath": true
  //   }]
  // ]
  "plugins": [
    "dynamic-import-node",
    "react-loadable/babel",
  ]
}
