{
  "presets": ["react", "env", "stage-0"],
  "plugins": [
    // "syntax-dynamic-import",
    // "@babel/plugin-proposal-class-properties",
    "dynamic-import-node",
    "react-loadable/babel", // 声明正在加载哪些模块
  ]
}
